// app global css in Sass form
.app-body
    background-color: $theme-gray

.app-header
    background-color: $theme-orange

.app-logo
    width: 220px
    height: 40px

.app-icon-status
    width: 35px

.app-info
    position: absolute
    background-color: $theme-orange
    width: 100%
    height: 225px
    bottom: 0
    margin-left: -1.2em
    border-radius: 3em 3em 0 0

.app-battery
    width: 300px
    margin-top: 1em

.text-battery
    font-size: 18px
    color: $theme-orange
    font-weight: bold
    padding-left: 5.2em

.section-padding
    padding-left: 1em

#statistic
    margin-left: 4em