// app global css in Sass form
@font-face
    font-family: "Prompt"
    src: url('../statics/fonts/Prompt-Regular.ttf') format('truetype')

@font-face
    font-family: "Prompt"
    src: url('../statics/fonts/Prompt-Bold.ttf') format('truetype')
    font-weight: bold

.app-body
    overflow: hidden
    background-color: $theme-gray

.app-header
    background-color: $theme-orange


@media (max-width: $breakpoint-xl-max)
	.app-logo
		position: fixed
		margin-top: 2em
		margin-left: 2em
		width: 600px
		height: auto
@media (max-width: $breakpoint-lg-max)
    .app-logo
        position: fixed
        margin-top: 2em
        margin-left: 2em
        width: 500px
        height: 100px

    .section-padding
        padding-left: 1em

    .stat-icon
        width: 30%
        margin-left: 2em

    #statistic
        margin-left: 10em
        margin-top: 3em

@media (max-width: $breakpoint-sm-max)
    .app-logo
        width: 220px
        height: 40px

    .section-padding
        padding-left: 1em

    .stat-icon
        width: 75px
        margin-left: 2em

    #statistic
        margin-left: 4em
        margin-top: 1em
